/* Color Variables */
:root {
  --dark-green: #05854f;
  --light-green: #00af66;
  --black: #000000;
  --white: #ffffff;

  /* Transparent Colors */
  --dark-green-transparent: #05854f;
  --light-green-transparent: #00af66;
  --black-transparent: #000000;
  --white-transparent: #ffffffc4;

  /* Font Familys */
  --main-font: "Bebas Neue", cursive;
  --secondary-font: "Poppins", sans-serif;

  /* Shadows */

  /* Font Sizes */
  --lrg-font: 3rem;
  --med-font: 1.6rem;
  --title: 1.4rem;
  --small-font: 0.8rem;
  --hero-text: 5rem;
}

/* Global Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--dark-green);
  font-family: var(--main-font);
  height: 100%;

}

/* NavBar */
nav {
  top: 0;
  position: sticky;
  color: var(--white);
  background-color: var(--dark-green-transparent);
  display: flex;
  font-family: var(--main-font);
  justify-content: center;
  align-items: center;
z-index: 999;
  
}

.logo {
  font-size: var(--med-font);
  line-height: 0.8;
  padding: 10px;
  margin-right: auto;
  letter-spacing: 4px;
}
.nav-links {
  margin-right: auto;
}
.list {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--white);
  font-size: var(--title);
  padding: 10px;
  letter-spacing: 1px;
}

/* Weather Bar */

.weather-wrapper {
  display: flex;
  align-items: center;
  color: var(--white);
  border-radius: 12px;
  width: 250px;
  height: 25px;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.418);
  margin: 20px;
  font-family: var(--secondary-font);
  font-size: var(--small-font);
}

img {
  margin: -15px;
  margin-right: auto;
}

.weather-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 5px;
}

.temperature,
.city,
.country {
  padding: 2px;
  margin: 5px;
}

/* Hero */
.hero-section {
  height: 100vh;
  width: 100vh;
}
.hero {
  height: 100vh;
  background-image: url(/images/hero2.png);

  background-size: cover;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: var(--hero-text);
}

.green {
  color: var(--dark-green);
}

/* Owl Bar */

.social-owl {
  position: fixed;
  top: 30%;
  margin-left: 10px;
  z-index: 2;
}

.owl {
  width: 64px;
  height: 88px;
}

/* Tree Divider */

.section-div {
  position: absolute;
  bottom: 8px;
  width: 100%;
  overflow: hidden;
}
.trees {
  height: 200px;
  width: 100vw;
}

/* Paddle */

.paddle {
  
  margin-right: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  transition: 200ms ease-in-out;
  filter: invert();
  
}

.paddle-icon, .paddle-icon-2 {
  display: none;

 cursor: pointer;
 transition: 200ms ease-in-out;
 user-select: none;
 
}


.active {
  rotate: 45deg;
  filter: invert();
  
  transition: 200ms ease-in-out;
}